* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header {
  background-color: aquamarine;
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.tittle{ 
  color:white;
  font-family:'Lucida Sans';
  text-align: center;
  }

  .body{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100vw;
  }


